
body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(146,146,237,1) 45%, rgba(255,29,0,0.7427171552214635) 83%);
    overflow: hidden;
}
.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;

}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: rgba(0, 0, 0, 0.733);
    position: absolute;
    top: 50%;
    /* transform: rotate(320deg); */
    /*make arrow starting from one point (in the middle) to undersnat change the value to 50% etc */
    transform-origin: 100%; 
    /* so strating point at 12 o clock; transition: all 0.05s; */
    transform: rotate(90deg);
    /*so arrows moving smoothly*/
    transition: all 0.05s;
    /*this in the mozila inspectopr to make arrow moves nicely (more animation) */
    transition-timing-function: cubic-bezier(0,2.7,.58,1); 

}
.hour-hand {
    height:8px;
}
.min-hand {
    height: 6px;
}
.sec-hand {
    background: white;
    width: 50%;
    
}
